<button [disabled]="productService.getAllProducts().length==0" (click)="toggleList()">Mostrar u ocultar lista</button>
<div [appShowOrHideFilter]="showFilter">
    <label for="fieldName">Filtrar por nombre:</label>
    <input type="text" id="inputFiltro" [(ngModel)]="nameEntered" (ngModelChange)="filterProducts()">

    <label for="fieldPrice">Filtrar por precio:</label>
    <input type="number" id="fieldPrice" [(ngModel)]="priceEntered" (ngModelChange)="filterProducts()">
</div>


@if (showList) {
<ul>
    @for (product of products; track $index) {

    <li appHighlight><app-product-item [product]="product" (productName)="onProductSelected($event)"></app-product-item>
    </li>

    }
</ul>
}