<button [disabled]="productService.getAllProducts().length==0" (click)="toggleList()">Mostrar u ocultar lista</button>

@switch (status) {
@case ("loading") {
<p>⏳ Loading products...</p>
}
@case("ready") {
<p>✅ Products loaded successfully</p>
}

@case("empty") {
<p>⚠️ There are not avaliable products</p>
}

@default {
<p>Error: 👉 Something went wrong</p>
}
}

<!-- <div [appShowOrHideFilter]="showFilter"> -->
<!-- BETTER add status validation on directive -->
<div [appShowOrHideFilter]="showFilter && status=='ready'">
    <label for="fieldName">Filter by name:</label>
    <input type="text" id="inputFiltro" [(ngModel)]="nameEntered" (ngModelChange)="filterProducts()">

    <label for="fieldPrice">Filter by price:</label>
    <input type="number" id="fieldPrice" [(ngModel)]="priceEntered" (ngModelChange)="filterProducts()">
</div>

<!-- BETTER add status validation on directive -->
@if (showList && status=='ready') {
<ul>
    @for (product of products; track $index) {

    <li appHighlight><app-product-item [product]="product" (productName)="onProductSelected($event)"></app-product-item>
    </li>

    }
</ul>
<p>Product selected is: {{productNameSelected}}</p>
}